<!DOCTYPE html>
<html lang="en" ng-app="MccyApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Minecraft Container Yard</title>

    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries -->
    <link href="webjars/ng-tags-input/2.3.0/ng-tags-input.min.css" rel="stylesheet">
    <link href="webjars/angularjs-toaster/0.4.15/toaster.min.css" rel="stylesheet">
    <!-- Local -->
    <link href="css/app.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
<toaster-container toaster-options="toasterOptions"></toaster-container>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img src="images/mccy_logo_120.png"/>
        </div>
        <div class="col-md-10">
                <h1> Minecraft Container Yard <small ng-show="appInfo.dockerHostUri">via {{appInfo.dockerHostUri}}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 actions">
            <h2>Actions</h2>
            <button class="btn btn-primary" ng-click="createNewContainer()" ng-disabled="showNewContainerArea">
                Create New Container
            </button>
            <button class="btn btn-default" ng-click="refresh()">Refresh</button>
        </div>

        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6" ng-show="showNewContainerArea"
                     ng-include="'bits/create-container.html'">
                </div>

                <div class="col-md-12">
                    <h2>Current Containers</h2>
                    <div class="current-containers">

                        <div ng-repeat="c in containers" class="panel panel-default" ng-include="'bits/current-container.html'">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Include additional libraries -->
<script src="webjars/angularjs/1.4.8/angular.min.js"></script>
<script src="webjars/angular-resource/1.4.8/angular-resource.min.js"></script>
<script src="webjars/angular-animate/1.4.8/angular-animate.min.js"></script>
<script src="webjars/angular-ui-bootstrap-bower/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="webjars/angular-ui-bootstrap-bower/0.14.3/ui-bootstrap.min.js"></script>
<script src="webjars/ng-tags-input/2.3.0/ng-tags-input.min.js"></script>
<script src="webjars/angularjs-toaster/0.4.15/toaster.min.js"></script>
<script src="webjars/ng-file-upload/10.1.14/ng-file-upload.min.js"></script>
<script src="webjars/ng-file-upload/10.1.14/ng-file-upload-shim.min.js"></script>
<!-- Include local javascript from js/... -->
<script src="js/app.js"></script>
<script src="js/NewContainerCtrl.js"></script>
</body>
</html>