<div class="panel-heading">
    <div class="row">
        <div class="col-md-6">
            {{c.name}}
        </div>
        <div class="col-md-6 container-actions">
            <button class="btn btn-default btn-sm" ng-click="stop(c)" ng-show="isRunning(c)">Stop</button>
            <button class="btn btn-default btn-sm" ng-click="start(c)" ng-show="!isRunning(c)">Start</button>
            <button class="btn btn-warning btn-sm" ng-click="remove(c)">Remove</button>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="entry"><label>Status</label><span>{{c.status}}</span></div>
    <div class="entry"><label>Connect using</label><span>{{c.hostIp}}:{{c.hostPort}}</span>
    </div>
</div>
