<div class="col-xs-12" ng-controller="UploadAssetsCtrl">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Upload new {{assetSpec.labelPlural}}</div>
            </div>
        </div>

        <div class="card-body">
            <div ng-hide="hideUploadArea">
                <div class="btn btn-default btn-block upload-mod"
                     ngf-select ngf-drop ngf-multiple="false"
                     ngf-change="uploadFile($file)"
                     name="assetFile"
                     ngf-model-invalid="invalidFiles"
                     ngf-pattern="assetSpec.allowedPatterns"
                     ngf-accept="assetSpec.accept">
                    <div class="title">
                        Drop file(s) here or click to select
                    </div>
                    <div>
                        <i class="fa fa-sticky-note"></i> {{assetSpec.fileInstructions}}
                    </div>
                    <div ng-show="showProgress">
                        <uib-progressbar value="progress">
                            {{progress}}%
                        </uib-progressbar>
                    </div>
                </div>
            </div>

            <div ng-show="registeredAssets" class="registered-mods">
                <div mccy-mod-panel="asset" ng-repeat="asset in registeredAssets"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Manage existing {{assetSpec.labelPlural}}</div>
            </div>
        </div>

        <div class="card-body">
            <div ng-switch="registeredAssets.length > 0">
                <div ng-switch-when="true"
                     mccy-mod-panel="asset" mccy-mod-panel-show-delete="true" ng-repeat="asset in registeredAssets">
                </div>

                <div ng-switch-when="false" class="big">
                    <h4>No mods have been uploaded yet <i class="fa fa-frown-o"></i></h4>
                </div>

            </div>

        </div>
    </div>
</div>