<div class="col-xs-12" ng-controller="UploadModCtrl">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Upload your mods</div>
            </div>
        </div>

        <div class="card-body">
            <div ng-hide="hideUploadArea">
                <div class="btn btn-default btn-block upload-mod"
                     ngf-select ngf-drop ngf-multiple="true"
                     ngf-change="uploadModFile($files)"
                     name="modFile"
                     ngf-model-invalid="invalidFiles"
                     ngf-pattern="allowedPatterns" ngf-accept="'application/jar'">
                    <div class="title">
                        Drop file(s) here or click to select
                    </div>
                    <div>
                        <i class="fa fa-sticky-note"></i> Mods and plugins should be .jar files.
                    </div>
                    <div ng-show="showProgress">
                        <uib-progressbar value="progress">
                            {{progress}}%
                        </uib-progressbar>
                    </div>
                </div>
            </div>

            <div ng-show="registeredMods" class="registered-mods">
                <div mccy-mod-panel="mod" ng-repeat="mod in registeredMods"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Manage your existing mods</div>
            </div>
        </div>

        <div class="card-body">
            <div ng-switch="registeredMods.length > 0">
                <div ng-switch-when="true"
                     mccy-mod-panel="mod" mccy-mod-panel-show-delete="true" ng-repeat="mod in registeredMods">
                </div>

                <div ng-switch-when="false" class="big">
                    <h4>No mods have been uploaded yet <i class="fa fa-frown-o"></i></h4>
                    <h4><!--suppress HtmlUnknownAnchorTarget -->
                        <a href="#/upload-mod">Upload Some!</a></h4>
                </div>

            </div>

        </div>
    </div>
</div>