<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <div class="title">Current containers</div>
            </div>
        </div>

        <div class="card-body">
            <div class="current-containers">
                <div ng-repeat="c in containers" class="panel panel-default" ng-include="'ng-bits/current-container.html'">
                </div>
            </div>
            <button class="btn btn-primary" ng-click="reload()">Reload</button>
        </div>
    </div>
</div>