body {
}

.current-containers {
    /*max-height: 500px;*/
    /*overflow-y: auto;*/
}

.current-containers .panel-body label,
.current-containers .panel-body span {
    display: block;
}

.container-actions > button {
    width: 100%;
    margin-top: 2px;
}

.current-containers .panel-body .entry+.entry {
    margin-top: 10px;
}

.panel-body .field {
    margin-bottom: 10px;
}

.panel-body .field > * {
    display: block;
}

.panel-body .field.compressed > * {
    display: inline-block;
}

.panel-body .field > label {
    margin-bottom: 0px;
}

.action {
    height: 100%;
}

div.space-before {
    margin-top: 10px;
}

img.icon-preview {
    width: 64px;
    height: 64px;
}

.actions > .row > div {
    margin-bottom: 5px;
}

span.underline {
    text-decoration: underline;
}

.container-actions {
    text-align: right;
}

.upload {
    width: 8em;
}

.upload.dragover {
    border-style: dashed;
    border-color: #32cd32;
}

.upload-mod {
    width: 100%;
    /*height: 200px;*/
}

.upload-mod .title {
    font-size: 32px;
}

.upload-mod.dragover {
    border-style: dashed;
    border-color: #32cd32;
    background-color: #669966;
}

.tooltip.copied .tooltip-inner {
    color: #ffffff;
    background-color: #669966;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.tooltip.copied .tooltip-arrow {
    border-color: #669966;
}

button.tight {
    padding: 1px;
    /*border-radius: 0px;*/
}

.registered-mods {
    margin-top: 20px;
}

.upload .target {
    display: none;
}
.upload.dragover .target {
    display: inline;
}

.upload.dragover .select {
    display: none;
}

.registered-mod .actions > div {
    width: 100%;
}