<div class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <!-- TODO: view.label? -->
            <span class="title">Placeholder</span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <!-- view.content? -->
                        Nothing here yet.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
