<div class="panel-heading">
    <div class="title">
        {{c.name}}
    </div>
</div>

<div class="panel-body row">
    <div class="col-md-10">
        <div class="field"><label>Connect using</label><span>{{c.hostIp}}:{{c.hostPort}}</span></div>
        <div class="field" ng-show="c.modpack"><label>Download mods for this server</label>
            <a ng-href="{{c.modpack}}"><i class="fa fa-download fa-lg"></i></a></div>
        <div class="field"><label>Status</label><span>{{c.status}}</span></div>
    </div>

    <div class="col-md-2 container-actions">
        <button class="btn btn-default btn-sm" ng-click="stop(c)" ng-show="isRunning(c)">Stop</button>
        <button class="btn btn-default btn-sm" ng-click="start(c)" ng-show="!isRunning(c)">Start</button>
        <button class="btn btn-warning btn-sm" ng-click="remove(c)">Remove</button>
    </div>
</div>
