<div class="panel panel-default registered-mod">
    <div class="panel-body row">
        <div class="col-sm-10">
            <div class="field compressed">
                <label>Name</label>
                <a href="#" editable-text="mod.name" onaftersave="markDirty()">{{ mod.name }}</a>
            </div>

            <div class="field compressed">
                <label>Description</label>
                <a href="#" editable-text="mod.description" onaftersave="markDirty()">{{ mod.description }}</a>
            </div>

            <div class="field compressed">
                <label>Homepage</label>
                <a href="#" editable-url="mod.url" onaftersave="markDirty()">{{ mod.url }}</a>
            </div>

            <div class="field compressed">
                <label>Version</label>
                <a href="#" editable-text="mod.version" onaftersave="markDirty()">{{ mod.version }}</a>
            </div>

            <div class="field compressed">
                <label>Compatible Minecraft Version</label>
                <a href="#" editable-text="mod.minecraftVersion" onaftersave="markDirty()">{{ mod.minecraftVersion }}</a>
            </div>

            <div class="field compressed">
                <label>Compatible Server Types</label>
                <span>{{compatibleServerTypes}}</span>
            </div>

            <div class="field compressed">
                <label>Original Filename</label>
                <span>{{ mod.originalFilename }}</span>
            </div>
        </div>

        <div class="col-sm-2 actions">
            <button ng-show="dirty" class="btn btn-primary btn-block" ng-click="save()">Save Changes</button>

            <button ng-show="showDelete" class="btn btn-warning btn-block" ng-click="delete()">Delete</button>
        </div>

    </div>
</div>
